* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --akcent: #15feff;
    --bg-pages: #222222;
    --opasBg: #000000b3;
    --disableGraay: #8a8a8a;
    --dartGraay: #080808;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-pages);
    font-size: 16px;
    color: var(--white);
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-btn {
    background: var(--opasBg);
    border-radius: 0 0 30%;
    padding-right: 7px;
    z-index: 90;
    position: relative;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.menu {
    position: fixed;
    height: 100%;
    width: 40vw;
    background: #000000eb;
    z-index: 10;
    right: -100%;
    top: 0;
    bottom: 0;
    transition: right .7s;
}

#menu-btn>svg {
    width: 40px;
    height: 40px;
    color: var(--white);
}

.menu.active {
    right: 0;
    transition: right .7s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
    z-index: 10;
    overflow-x: overlay;
    padding-bottom: 2vw;
    border-bottom: 1px solid var(--white);
}

.menu__home {
    position: absolute;
    bottom: 2vh;
}

.menu__title {
    font-size: 1.8vh;
    text-transform: uppercase;
    color: var(--akcent);
}

.menu__list-link {
    color: var(--white);
    font-size: 18px;
    text-transform: uppercase;
    text-align: start;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 1vw;
}
.menu__list-link>img{
    border-radius: 100%;
}

.btn {
    color: var(--akcent);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid;
    width: fit-content;
    border-radius: 10px;
}

.btn__to__content-home {
    margin-top: 5vh;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #15ffff4b;
    }

    100% {
        box-shadow: 0 0 0 10px #15ffff00;
    }
}

.content__donat {
    margin: 0 auto 20px;
}

.wrap {
    max-width: 100vw;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.wrap>iframe {
    width: 100% !important;
    height: 100vh !important;
    border: none;
}

.wrap__pages {
    height: 90vh;
    display: flex;
    width: 200vw;
    justify-content: space-between;
    position: absolute;
    bottom: 4vh;
    left: 0;
    transition: left .4s linear;
}

.info__none {
    left: -100vw;
}

.menu>ul>li>a {
    color: var(--white);
}

#rundomFilms {
    font-size: 0.7em;
}

.content {
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    padding: 0 10px;
    flex: 1;
}

.info {
    position: absolute;
    overflow: hidden;
    left: 0;
    height: 90vh;
}

.home {
    position: absolute;
    left: 100vw;
}

.home>h2 {
    margin: 1vh 0;
}

.content__text {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vh;
}

.content__title>span {
    color: var(--akcent);
}

.content__description {
    letter-spacing: 0.05em;
    line-height: 25px;
}

.content__description>span {
    text-transform: uppercase;
    color: var(--akcent);
    letter-spacing: 0.2em;
}

.content__footer {
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 20px;
}

.content__footer>a {
    color: var(--akcent);
}

/* loading */
.loader {
    position: absolute;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    overflow: hidden;
    letter-spacing: -21px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}

.loader:after {
    position: absolute;
    content: '';
    width: 150px;
    height: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: var(--akcent);
    animation: loader 3s infinite;
    z-index: 0;
}

.loader:before {
    content: 'V';
    position: absolute;
    z-index: 1;
    font-size: 110px;
    top: 40%;
    left: 70%;
    margin: -55px 0 0 -65px;
    color: var(--white);
}

@keyframes loader {
    0% {
        height: 0;
        opacity: 1;
    }

    80% {
        height: 150px;
        opacity: 1;
    }

    100% {
        height: 150px;
        opacity: 0;
    }
}

/* loading */

#videoPleer {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
    z-index: -1;
}

#listStrimes {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    max-height: 85vh;
    height: 85vh;
    overflow-y: scroll;
    background: #393939;
    padding: 0.5em;
    border-radius: 10px;
    grid-template-rows: max-content;

}



.list__strim-item {
    border-bottom: 1px solid var(--akcent);
    line-height: 3vh;
    display: flex;
    padding: 0 2%;
    border-radius: 10px;
}

.list__strim-item>button>img {
    width: 100%;
    height: 100%;
    max-height: 13em;
    object-fit: cover;
    border-radius: 0.5em;
}
.list__strim-item>button>img{
        filter: brightness(0.5);
        -webkit-filter: brightness(0.5);
}
.list__strim-item.active>button>img{
        filter: drop-shadow(2px 4px 6px black);
    -webkit-filter: drop-shadow(2px 4px 6px black);
}

.list__strim-item.active {
    background: #15feff21;
    animation: bg_active 3s infinite;
    -webkit-animation: bg_active 3s infinite;
}

@keyframes bg_active {
    0% {
        background: #15feff21;
    }

    50% {
        background: #15feff3e;
    }

    100% {
        background: #15feff21;
    }
}

.list__strim-link {
    display: grid;
    align-items: center;
    color: var(--white);
    gap: 1vw;
    padding: 1vh 0;
    justify-content: center;
    width: 100%;
    justify-items: center;
}

.wrap>a {
    display: flex;
    margin: 50vh auto;
    padding: 2vh;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

@media (min-width: 450px) {
    #listStrimes {
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2vw;
        }
}
@media (min-width: 900px) {
    #listStrimes {
        display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3vw;
        }
}
@media (min-width: 1400px) {
    #listStrimes {
        display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4vw;
        }
}