* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --white: #fff;
 --black: #3b3b3b;
 --bg-pages: #222222;
}

a {
 text-decoration: none;
 color: inherit;
}

button {
 cursor: pointer;
 padding: 0;
 border: none;
 background: none;
 outline: none;
}

body {
 background: var(--bg-pages);
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 color: var(--white);
}

ul,
li {
 list-style: none;
 margin: 0;
 padding: 0;
}

.container {
 max-width: 1140px;
 width: 100%;
 padding: 0 10px;
 margin: 0 auto;
}

.menu {
 position: fixed;
 height: 100%;
 width: 40vw;
 background: #000000d6;
 z-index: 10;
 right: -100%;
 top: 0;
 bottom: 0;
 transition: right .7s;
 -webkit-transition: right .7s;
 -moz-transition: right .7s;
 -ms-transition: right .7s;
 -o-transition: right .7s;
}

#menu-btn svg {
 width: 40px;
 height: 40px;
}


.menu.active {
 right: 0;
 transition: right .7s;
 -webkit-transition: right .7s;
 -moz-transition: right .7s;
 -ms-transition: right .7s;
 -o-transition: right .7s;
}

#menu__list {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 2vh;
 padding: 10px;
 height: 100%;
 z-index: 10;
 overflow-x: overlay;
}

.menu__list-link {
 color: var(--white);
}

.wrap>iframe {
 width: 100%;
 height: 90vh;
 border: none;
}

.menu>ul>li>a {
 color: var(--white);
}

.content {
 opacity: 1;
 width: 70%;
 height: 90vh;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.content__text {
 flex: 2;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 gap: 3vh;
}

.content__title>span {
 color: #15feff;
}

.content__description {
 letter-spacing: 0.05em;
 line-height: 3vh;
}

.content__description>span {
 text-transform: uppercase;
 color: #15feff;
 letter-spacing: 0.2em;
}

.content__footer {
 letter-spacing: 0.2em;
 text-align: center;
}

.content__footer>a {
 color: #15feff;
}

/* loading */
.loader {
 position: absolute;
 margin: -75px 0 0 -75px;
 width: 150px;
 height: 150px;
 left: 50%;
 top: 50%;
 overflow: hidden;
 font-family: verdana;
 letter-spacing: -21px;
 /* border: 1px solid #ececec; */
 border-bottom-right-radius: 40px;
 z-index: 1;
}

.loader:after {
 position: absolute;
 content: '';
 width: 150px;
 height: 0px;
 bottom: 0;
 left: 0;
 opacity: 1;
 background: #15feff;
 animation: loader 3s infinite;
 z-index: 0;
}

.loader:before {
 content: 'V';
 position: absolute;
 z-index: 1;
 font-size: 110px;
 top: 40%;
 left: 70%;
 margin: -55px 0 0 -65px;
 color: #fff;
}

@keyframes loader {
 0% {
  height: 0;
  opacity: 1;
 }

 80% {
  height: 150px;
  opacity: 1;
 }

 100% {
  height: 150px;
  opacity: 0;
 }
}

/* loading */

#videoPleer {
 position: absolute;
 top: 40px;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: -webkit-fill-available;
 overflow: hidden;
}